@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .integration-card {
    @apply rounded-xl border w-[250px] h-[250px] lg:w-[300px] lg:h-[300px] bg-[#27222d] transition-all;

    scale: 1;
    box-shadow: 0 0 2px #dc10fb, 0 0 3px 2px #b915de;
  }

  .integration-card:hover {
    box-shadow: 0 0 6px #dc10fb, 0 0 8px 4px #b915de;
    scale: 1.03;
  }
  
}